node_modules
.pnpm-store
.git
.gitignore
Dockerfile
docker-compose.yml
tests/
.env
.env.test
docs
k6
prisma/schema.postgresql.prisma
prisma/schema.mysql.prisma
prisma/schema.sqlite.prisma
prisma/schema.sqlserver.prisma
.nvmrc
src/scripts
.vscode

coverage

jest.integration.config.js
jest.unit.config.js
